<!DOCTYPE html>
<html>
    <head>
        <title>FlickList</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <div style="float: right;">
            {% if 'user' in session %}
                {{ session['user'] }}
                <form action='/logout' method='post'>
                    <input type='submit' value='Log out'/>
                </form>
            {% else %}
                <a href='/register'>Register</a> |
                <a href='/login'>Login</a> 
            {% endif %}
        </div>
        <h1>
            <a href="/">FlickList</a>
        </h1>

        <ul>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <li class='error'>{{ message }}</li>
            {% endfor %}
        {% endwith %}
        </ul>

        {% block content %}
        {% endblock %}

    </body>
</html>
